<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title<%=title %>></title>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
<div id="banner"><span><img src="images/logo.png" style="float:left;">
    <img src="images/logo_eu.jpg" style="float:right;">
    <img src="images/logo_yp.jpg" style="float:right;"></span></div>
<div class="markiza">
    <h2 style="text-align: center">Καλωσήρθατε στις υπηρεσίες ΕΣΠΑ 2014-2020</h2>
    <h3>Χρήσιμες παραπομπές</h3>
    <ul>
        <li class="menu"><a href="/services/bi"><img src="images/bi.jpg"></a></li>
        <li class="menu"><a href="/services/ps"><img src="images/ps.jpg"> </a></li>
        <li class="menu"><a href="/services/map"><img src="images/compass.jpg"></a></li>
    </ul>
</div>
<ul>
    <li><a href='#'>Εγγραφή Χρήστη Δικαιούχου ΕΣΠΑ 2014-2020</a></li>
    <li><a href='#'>Εγγραφή Χρήστη Ηλεκτρονικής Υποβολής 2007-2013</a></li>
    <li><a href='#'>Οδηγίες & Χρήσιμες Πληροφορίες</a></li>
    <li><a href='#'>Ξεχάσατε το συνθηματικό σας;</a></li>
</ul>
</body>
</html>